.news-section{
  // width: 75%;
  // height: 50%;
  display: flex;
  flex-flow: column nowrap;
  border: 2px solid red;
  align-items: center;
}

// .newsfeed-con{
//   display: flex;
//   height: 100%;
//   width: 100%;
// }

.article-card{
  margin: 1%;
  width: 50em;
}

.article-img{
  // border: 1px solid #ddd;
  // border-radius: 4px;
  padding: 5px;
  width: 0 auto;
  max-width: 100%;
  object-fit: scale-down;
}

.article-link{
  font-size: 1vw;
  color: aliceblue;
}

.delete-btn{
  color: red;
}

.add-article-form{
  margin-bottom:1em;
  padding: .5em;
}