.body{
  margin: 0;
  padding: .5em;
}

.app{
  border: .75em inset rgba(49, 71, 54, 0.404);
  width: 100%;
  height: 100%;
  margin: 0;
}

.news-section{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: rgba(33, 54, 33, 0.473);
}

.main-news-con{
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-bottom: 0;
  margin-bottom: 0;
}

.article-card{
  margin: 1%;
  max-width: 50em;
  max-height: 25em;
  border: .25em rgba(128, 128, 128, 0.445) outset;
}

.article-img{
  padding: 0px;
  width: 0 auto;
  max-width: 100%;
  height: 10em;
  margin: 0;
}

.article-link{
  font-size: 1vw;
  color: aliceblue;
}

.save-article-form{
  margin-bottom:1em;
  padding: .5em;
}

.publish-article-form{
  margin-bottom:1em;
  padding: .5em;
}

.redPlaceholderText::-webkit-input-placeholder {
  color: red;
}

.news-header{
  text-align: center;
}

.saved-news{
  width: 50%
}

.published-news{
  width: 50%;
}

.close{
  color: red;
}